/* CSS Document */
/*@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);*/

* {
	z-index: 0;
}

#content {
	margin-left: 220px;
	padding: 20px;
}

#window {
	height: 100%;
	width: 890px;
	float: left;
	overflow: hidden;
}

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.page-head {
	margin: 3px;
	padding: 2px;
	margin-right: 4px;
	height: 5%;
	background-color: #fff;
	border-radius: 4px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.tile {
	width: 137px;
	height: 50px;
	margin: 3px;
	border-radius: 6px;

.tile:hover { 
	box-shadow:0 5px 8px rgba(0,0,0,0.15); 
}

ul.tile-list {
	margin: 0;
}

#mini-grid-container {
	float: left;
}

.mini-grid {
	margin: 0;
	float: left;
}

.mini-grid li { 
	float: left; 
	width: 92px; 
	height: 35px;
	margin: 0;
	text-align: center; 
}

.ui-state-highlight {
	width: 92px; 
	height: 35px;
}

div.unused {
	height: 170px;
	overflow: scroll;
}

ul.unused {
	width: 138px;
	margin: 0 auto;
}

li.unused-tile {
	width: 112px; 
}

#footer-cpy {
	width: 40%;
}

#footer-text {
	margin-left: 10px;
	width: 70%;
	font-size: 8pt;
}

#social-icons {
	width: 55%;
}

.float-left {
	float: left;
}

.scroll {
	overflow: scroll;
	float: left;
}

.text-right {
	text-align: right;
}

.fill-row {
	width: 100%;
	float: left;
}

.fill-col {
	height: 100%;
	float: left;
}

.col-fourth {
	width: 222px;
	background-color: #6FF;
	float: left;
}

.col-third {
	width: 296px;
	background-color: #F9F;
	float: left;
}

.col-two-third {
	width: 594px;
	background-color: #F9F;
	float: left;
}

#header .col-third {
	width: 313px;
	background-color: #F9F;
	float: left;
}

#header .col-two-third {
	width: 626px;
	background-color: #F9F;
	float: left;
}

.clear { clear: both; }