<div id='tile-list'>
    <% _.each(schoolTiles, function(tile) { %>
      <div class="ui-state-default tile"><div class='tile-text'><%= tile.get('text') %></div><div class='tile-accent'></div></div>
    <% }); %>
    <% _.each(genTiles, function(tile) { %>
      <div class="ui-state-default tile"><div class='tile-text'><%= tile.get('text') %></div><div class='tile-accent'></div></div>
    <% }); %>
    <div class='sortable'>
      <% _.each(botTen, function(tile) { %>
        <div class="ui-state-default tile" data-id='<%= tile.get('id') %>'><div class='tile-text'><%= tile.get('text') %></div><div class='tile-accent'></div></div>
      <% }); %>
    </div>
</div>

<div id='single-tile'>
  <div class="ui-state-default tile" data-id='-1' data-url='#'><div class='tile-text' id='custom-tile'>Sample</div><div class='tile-accent-alt'></div></div>
</div>
  
<div id='edit-tile'>

  <form class='form-horizontal'>
    <div class="control-group">
      <label class="control-label">Popular tiles at School (users)</label>
      <div class="controls">
        <select>
          <% _.each(restSchool, function(tile) { %>
            <option data-id='<%= tile.get('id') %>' data-url ='<%= tile.get('url') %>' data-text='<%= tile.get('text') %>'><%= tile.get('text') %> (<%= tile.get('userCount') %>)</option>
          <% }); %>]
        </select>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Display Text</label>
      <div class="controls">
        <input id='display-text' type="text" placeholder="Display">
      </div>
    </div>
  </form>
      
  <form class='form-horizontal'>
    <div class="control-group">
      <label class="control-label">Popular tiles everywhere (users)</label>
      <div class="controls">
        <select>
          <% _.each(restGeneral, function(tile) { %>
            <option data-id='<%= tile.get('id') %>' data-url ='<%= tile.get('url') %>' data-text='<%= tile.get('text') %>'><%= tile.get('text') %> (<%= tile.get('userCount') %>)</option>
          <% }); %>]
        </select>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">URL</label>
      <div class="controls">
        <input id='url-text' type="text" placeholder="http://">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn" id='save-button'>Save</button>
      </div>
    </div>
  </form>

</div>