<div class='float-left' id='footer-cpy' >
	<div class='float-left'>
		<img src='../../img/easyunivLogo.png' />
	</div>
	<div class='float-left' id='footer-text'>
	&copy; EasyUniv 2012-2013. This site is owned and maintained by EasyUniv, LLC. It is in no way affiliated with any school or university.
	</div>
</div>

<div class='float-left text-right' id='social-icons' >
	<i class="icon-phone-sign icon-2x"></i> 
	<i class="icon-facebook-sign icon-2x"></i> 
	<i class="icon-twitter-sign icon-2x"></i> 
	<i class="icon-google-plus-sign icon-2x"></i> 
	<i class="icon-pinterest-sign icon-2x"></i>
</div>